body {
	color: white;
	font:normal bold 14px tahoma;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

#ombre-body{
display: none;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.7);
z-index: 1000;
cursor: default;
}

#pop-upspinner{
display: none;
position: fixed;
left: calc(50% - 100px);
top: 50%;
z-index: 2000;
cursor: default;
overflow: hidden;
}

#div-princ {
	margin: 20px auto;
	width: 1800px;
	height: 860px; 
	background-color:#171717;
	box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.5),0px 0px 0px 0px rgba(255, 255, 255, 0.5) inset;
	border-radius: 30px 30px 30px 30px ;
	position:relative
}

#button_power
{
	position:absolute;
	left:105px;
	top:105px;
	width:150px;
	height:150px; 
}

.button_pressed{
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);	
}

.button_unpressed{
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5),0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;		
}

.button_white{
    color: #e0e0e0;
    background: #a5cd4e;
}

.button_green {
    color: #7FFF00;
	text-shadow: 0 0 10px #6a6767, 0 0 20px #444, 0 0 30px #515151, 0 0 40px #FFFAFC, 0 0 70px #3AFF11, 0 0 80px #45FF11, 0 0 100px #4F4F4F, 0 0 150px #18FF11;
}

.button_red {
    color: #ff3a3a;
    background: #a5cd4e;
}
 
.button_blue {
    color: #176fff;
    background: #70c9e3;
}

#callsign{
	position:absolute;
	left: 1450px;
	top:20px;
	height:80px; 
	width:300px;
	font: normal bold 25px tahoma;
	text-align:center;
}

#personalfrequency
{
	position:absolute;
	left: 1450px;
	top:400px;
	height:80px; 
	width:300px;
	font: normal bold 25px tahoma;
	text-align:center;
}

#personalfrequency > select
{
	width:240px;
	font: normal bold 25px tahoma;
}

#div-bandshortcut 
{
	position:absolute;
	left: 1450px;
	top:200px;
	width: 300px;
}

#div-bandshortcut > ul
{
	padding:0;
	width:300px;
}

#div-bandshortcut > ul > li {
    display: inline-block;
	font:normal bold 25px tahoma;
    text-align:center;
	width:90px;
}

#div-freq
{
	position:absolute;
	left: 400px;
	top:80px;
	height: 200px; 
	width:700px;
}

#div-freq > ul > li {
    display: inline-block;
	font:normal bold 45px tahoma;
    text-align:center;
	width:60px;
}

#freq_disp{
	border-radius: 5px 5px 5px 5px ;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	background-color: black;
	width:700px;
	padding-top:5px;
	padding-left:5px;
	margin-top:10px;
	margin-bottom:10px;
	height: 60px; 
}

#freq_disp > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
}

#freq_disp > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;  	
}

#freq_disp_input_text{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; 
	width:100%;
	font:normal bold 45px tahoma;
    text-align:center; 	
	display:none;
}

#freq_but{
	width:700px;
	margin:0;
	padding-left:5px;
}

#freq_but > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
	margin-top:5px;
	margin-bottom:5px;
}

#freq_but > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;  	
	margin-top:5px;
	margin-bottom:5px;
}

#div-scoketscontrols 
{
	position:absolute;
	left: 1100px;
	top:800px;
	width: 580px;
}

#div-scoketscontrols > p
{
	display: inline-block;
	font:normal bold 25px tahoma;
    text-align:center;
	margin-right:10px;
}

#div-scoketscontrols > p > img
{
	margin-right:5px;
	width:25px; 
	height:25px;
}

#div-conf 
{
	position:absolute;
	left: 1750px;
	top:20px;
	width: 580px;
}

#div-conf > a > img
{
	margin-right:5px;
	width:25px; 
	height:25px;
}

#div-latencymeter
{
	font:normal bold 25px tahoma;
	position:absolute;
	left:1600px;
	top:825px;
}

#div-latencymeter > img
{
	margin-right:5px;
	width:25px; 
	height:25px;
}

#RX-GAIN_control
{
	width:200px; 
	height:140px;
	position:absolute;
	left:80px;
	top:300px;
	font:normal bold 25px tahoma;
	text-align:center;
}

div#Txmeters > div {
	text-align:center;
	width:200px; 
  	position:absolute;
	left: 80px;
	top:600px;
	font:normal bold 25px tahoma;
}

div#Txmeters div.label {
  display: inline-block;
}

div#Txmeters div.value {
  display: inline-block;
}

div#Rxmeters > div {
	text-align:center;
	width:200px; 
  	position:absolute;
	left: 80px;
	top:380px;
	font:normal bold 25px tahoma;
}

div#Rxmeters div.label {
  display: inline-block;
}

div#Rxmeters div.value {
  display: inline-block;
}

#TX-GAIN_control
{
	width:200px; 
	height:140px;
	position:absolute;
	left:80px;
	top:530px;
	font:normal bold 25px tahoma;
	text-align:center;
}

#div-TX{
	position:absolute;
	left:1450px;
	top:600px;
	width: 300px;
	height: 200px;
}
#TX-record
{
	text-align:center;
	font:normal bold 90px tahoma;
	height:130px;
	width:100%;
	display: inline-block;
}

#TX-record_record_opus
{
	font:normal bold 10px tahoma;
}

#TX-record-lock
{
	text-align:center;
	font:normal bold 25px tahoma;
	height:50px;
	width:100%;
	display: inline-block;
}

#record_opus
{
	text-align:center;
	width:200px; 
	height:170px;
	width:100%;
}

#canBFSPC{
	position:absolute;
	left:400px;
	top:320px;
	width:450px; 
	height:200px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#canBFFFT{
	position:absolute;
	left:950px;
	top:320px;
	width:450px; 
	height:200px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#div-mode_menu 
{
	position:absolute;
	left: 400px;
	top:550px;
	width: 1000px;
}

#div-mode_menu > ul
{
	padding:0;
	width:1000px;
	text-align:center;
}

#div-mode_menu > ul > li {
    display: inline-block;
	font: normal bold 45px tahoma;
    text-align:center;
}

#div-mode_menu > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

.button_mode{
	width:190px;
	height: 60px; 			
}


#canRXsmeter{
	position:absolute;
	left:1450px;
	top:100px;
	width:250px; 
	height:50px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	background: url(img/smeter.png) no-repeat center center
}

#div-smeterdigitRX
{
	position:absolute;
	left:1450px;
	top:160px;
	text-align:center;
	font: normal bold 25px tahoma;
	width: 250px;
}

/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */
